<h1 id="my-timelines">my timelines</h1>
<hr id="dashboard-line">
<div id="dashboard-ball"></div>
<div id="display-dashboard">
    {{#if timelines}}
    <table class="table">
        <tbody>
            <thead>
                <th colspan="1">Category</th>
                <th colspan="4">Timeline Name</th>
                <th colspan="1">See Details</th>
                <th colspan="1">Edit Timeline</th>
                <th colspan="1">Delete Timeline</th>
            </thead>
            {{#each timelines}}
            <tr>
                <td class="category">{{this.category}}</td>
                <td colspan="4"  class="tl-dash-title"><a href="timeline/{{this._id}}/display">{{this.name}}</a></td>
                <td id="eye" data-id="{{this._id}}"><a href="timeline/{{this._id}}/display"><img class="icon"
                            src="/assets/eye.png" alt="icon view" /></td>
                <td data-id="{{this._id}}" class="edit"><a href="/timeline/{{this._id}}/edit"><img class="icon"
                            src="/assets/edit-icon.png" alt=""></a></td>
                <td data-id="{{this._id}}" class="delete"><a href="/timeline/{{this._id}}/delete"><img class="icon"
                            src="/assets/delete-icon.png" alt=""></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
    <div id="display-right">
<a href="/timeline/create" class="btn" id="create-timeline">Create a new timeline</a>
    </div>
</div>