<h1 id="my-timelines">My timelines</h1>

<table class="table">

    <tbody>
        {{#each timelines}}
        <tr>   
            <td class="category">{{this.category}}</td>
            <td class="timeline-title">{{this.name}}</td>
            <td data-id="{{this._id}}"><a href="timeline/{{this._id}}/display"><img class="icon" src="/assets/eye.png" alt="icon view"/></td>
            <td data-id="{{this._id}}"  class="delete"><a href="/timeline/{{this._id}}/delete"><img class="icon" src="/assets/delete-icon.png" alt=""></a></td>
            <td data-id="{{this._id}}" class="edit"><a href="/timeline/{{this._id}}/edit"><img class="icon" src="/assets/edit-icon.png" alt=""></a></td>
        </tr>
        {{/each}}
    </tbody>

</table>

<button class="btn"><a href="/timeline/create">create a timeline</a></button>