<div class="event-detail">
    <a href="/timelineDisplay">Go back</a>
    <p>{{idDetails.title}}</p>
    <p>{{idDetails.date}}</p>
    <p>{{idDetails.description}}</p>
    <img src="{{idDetails.image}}" alt="image event">
    <span>{{idDetails.rating}}</span>
    <p>{{idDetails.review}}</p>
    <p>{{idDetails.author}}</p>
    <p>{{idDetails.map}}</p>
    <p>{{idDetails.people}}</p>
    <a href="/timeline/{{this._id}}/delete"><img src="/assets/edit-icon.png" alt="edit icon"/></a>
    <a href="/timeline/{{this._id}}/edit"><img src="/assets/delete-icon.png" alt="delete icon"/></a>
</div>