<div class="big-container">
  <form method="post" action="/timeline/event/{{event._id}}/edit" class="event-form" enctype="multipart/form-data">
    <h3 class="form-title"> Edit an event</h3>
    {{>catEditPartials}}
    <div class="form-item-rating">
      <label for="event-rating" class="label hidden">Rating:</label>
      <span class="rating">
        <input type="radio" name="rating" id="str5" value="{{event.rating}}">
        <label for="rating5"></label>
        <input type="radio" name="rating" id="str4" value="{{event.rating}}">
        <label for="rating4"></label>
        <input type="radio" name="rating" id="str3" value="{{event.rating}}">
        <label for="rating3"></label>
        <input type="radio" name="rating" id="str2" value="{{event.rating}}">
        <label for="rating2"></label>
        <input type="radio" name="rating" id="str1" value="{{event.rating}}">
        <label for="rating1"></label>
      </span>
    </div>

    <input id="event-review" type="text" class="input" name="review" placeholder="give your opinion"
      value="{{event.review}}">


    <input id="event-author" type="text" class="input" name="author" placeholder="director or author"
      value="{{event.author}}">

    <div class="map hidden">{{event.map}}</div>

    <input id="event-people" type="text" class="input" name="people" placeholder="people who was with you"
      value="{{event.people}}">

    <button class="btn">Update!</button>
    <a href="/timeline/event/details/{{event._id}}" class="btn">Cancel</a>
  </form>
</div>